 @import '../../style/vars.scss';

.card{
  margin-bottom: 50px;
}

h3{
  margin-bottom: 1rem;
  font-size: 9vh;
  font-style: oblique;

}

.translateButton{
 
  width: auto;
  padding: 1vh 2vh;
  margin-top: 50px;
  border: none;
  border-radius: 2px;
  box-shadow: 3px 2px 2px $btshadow;
  background-color: $fonColor;
  font-style: oblique;

} 