 @import '../../style/vars.scss';

.card{
  margin-bottom: 50px;
}

h3{
  margin-bottom: 1rem;
  font-size: 9vh;
  font-family: $fontF3
}

.transcription{
  font-size: 3.5vh; 
  font-weight:500;
  color: $edging;
}

.translateButton{
   display: inline-block;
  width: auto;
  padding: 1vh 2vh;
  margin-top: 50px;
border: 2px solid transparent;
  border-radius: 1px;
  box-shadow: 3px 2px 2px $btshadow;
  background-color: $fonColor;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family:$fontTranslate;
  &:hover {  border: 2px solid $translateColor;}

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
} 

.translate{
margin-top: 1.5rem;
font-size: 7vh;
font-style: oblique;
color:$fonmain;
font-family:$fontTranslate
}