$fonColor: rgb(255, 255, 168);
$edging: #808080;
$fontColor: black;
$tablefon: rgb(235, 233, 233);
$tablehover: #f7f7ed; 
$fonmain:rgb(96, 182, 116);
$btnEditColor:rgb(255, 192, 5);
$btnDeleteColor:rgb(255, 75, 68);
$btnSaveColor:rgb(83, 232, 108);
$btshadow:rgb(116, 115, 115)