@import '../../style/vars.scss';

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color:$fonColor;
  position: fixed;
  width: 900px;
  z-index: 10;


.logo{
   width: 70px; 
  height: 70px;
  margin-left: 2vw;
}
.nav{
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
  margin: 0 2vw;

.search{
width: 40px; 
height: 40px;
margin-left: 100px;
}
a {
  text-decoration: none; 
  color:$fontColor
}

}
}