@import '../../style/vars.scss';

.tableWrapper{
   border-collapse: collapse;
  background-color: $tablefon;
  border-spacing: 0;
  border: 2px solid $edging;
  margin: 9rem auto;
  font-size: 1.5rem;

}

.tableThead{
  background-color:$fonColor;
  text-align: left;
  
}

th, td {
  padding: 10px;
  text-align: left;
}
tbody tr:hover {
  background-color:$tablehover;
}

.btn {
  color: $fontColor;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 1px $btshadow;
  transition: all 0.3s ease;
  &:hover{
    box-shadow: 1px 1px 3px #000;
  }
  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
}

.saveButton{
  &:hover{background-color:$btnSaveColor;}
  background-image: url('/src/images/save.svg');
 }
 .disabledButton {
   opacity: 0.5; 
  cursor: not-allowed; 
}


.editButton{
  &:hover{ background-color: $btnEditColor;}
  background-image: url('/src/images/edit.svg');

}
.deleteButton{
  &:hover{background-color: $btnDeleteColor;}
  background-image: url('/src/images/delete.svg');
}
.cancelButton{
  background-image: url('/src/images/cancel.svg');
  &:hover{background-color: #828282;}
}
.emptyField{
  border:2px solid $btnDeleteColor;
}
.inputField{
  &:hover{background-color: #ece1e1;}
}